
h1 {
  text-align: center;
  margin-top: 50px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 40px;
}

.category-square {
  background-color: #947b7b;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-square:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.category-content {
  padding: 10px;
  border-radius: 0 0 20px 20px; 
}

.category-name {
  margin: 0;
  text-align: center;
  color: white;
}

.category-square > h2 {
  margin-top: 10px;
  margin-bottom: auto;

}

.category-square > .category-content > h2 {
  margin-top: 10px;
  margin-bottom: auto;
}

@media (max-width: 400px) {
  .category-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}